<div class="enterdetail">
  <h1 class="title">ID Card Generator</h1>
  <h3 class="title1">Please Enter your Details </h3>

<div class="inbox">  <label ><pre>ImageUrl    </pre>  </label><input type="text" [(ngModel)]="imageurl"></div>
 <div class="inbox"> <label ><pre>Name        </pre>     </label><input type="text" [(ngModel)]="name"></div>
  <div class="inbox"><label ><pre>Designation </pre></label><input type="text" [(ngModel)]="designation"></div>
  <div class="inbox"><label> <pre>Phone Number</pre></label><input type="text" [(ngModel)]="phonenumber"></div>
 <div class="inbox"> <label> <pre>Address     </pre>     </label><input type="text" [(ngModel)]="address"></div>
</div>

<div class="idcard">
  <div><h4>Identity Card</h4></div>
  <div class="idcarddetails"><div class="img">
    <img [src]="imageurl" alt="imageurl">
  </div>
  <div class="details">
    <div class="detailname"><pre>Name        :</pre><h3>{{name}}</h3></div>
    <div class="detailname"><pre>Designation :</pre><h3>{{designation}}</h3></div>
    <div class="detailname"> <pre>Phone Number:</pre><h3>{{phonenumber}}</h3></div>
    <div class="detailname"><pre>Address     :</pre><h3 >{{address}}</h3></div>
  </div></div>
  
</div>